<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={ga_token}"></script>
<script>
    var ut = false;

    //<!-- BEGIN track_user -->
    var uid = '{user_id}';
    var ukey = '{user_key}';

    function ga_usr_choice(ukey, val) {
        window.localStorage.setItem('ga_'+ukey, val);
        d = new Date();
        window.localStorage.setItem('ga_'+ukey+'_time', d.getTime());
    }
    function ga_user_timing(ukey) {
        usr_timing = (window.localStorage.getItem('ga_'+ukey+'_time') * 1);
        dn = new Date();
        dn.setDate(dn.getDate() - 30); // @Todo make day limit changeable
        return (dn.getTime() >= usr_timing);
    }

    if ((sukey = window.localStorage.getItem('ga_'+ukey)) === 'true') {
        ut = true;
    } else if (
        (sukey === null) ||
        (sukey === 'false' && ga_user_timing(ukey) === true)
    ) {
        ut = window.confirm('{user_track_confirm}'); // change to modal
        if (ut === true) {
            ga_usr_choice(ukey, 'true');
        } else {
            ga_usr_choice(ukey, 'false');
        }
    }
    //<!-- END track_user -->

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    if (ut === true) {
        gtag('set', {[ukey]: uid});
    }

    gtag('config', '{ga_token_conf}');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe
            src="https://www.googletagmanager.com/ns.html?id={ga_token_noscript}"
            height="0"
            width="0"
            style="display:none;visibility:hidden">

    </iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->