<script type="text/javascript">
    var sentence_active = "{sentence_active}";
    var sentence_inactive = "{sentence_inactive}";

    var ga_active = (typeof window.il_ga === 'object' ? window.il_ga.ut : false);
    document.addEventListener('DOMContentLoaded', function() {
        if (typeof document.getElementsByClassName('ga_trackbutton')[0] !== 'undefined') {
            document.getElementsByClassName('ga_trackbutton')[0].addEventListener('click', function (e) {
                ga_active = !ga_active;
                window.il_ga.setTrack(ga_active, true);
                document.getElementsByClassName('ga_trackbutton')[0].innerText = (ga_active ? sentence_active : sentence_inactive);
                e.preventDefault();
            });
            document.getElementsByClassName('ga_trackbutton')[0].innerText = (ga_active ? sentence_active : sentence_inactive);
        }

    });
</script>