<script type="text/javascript">
    function ga_track() {
        <!-- Google Tag Manager Start -->
        window.dataLayer = window.dataLayer || [];
        gtm_data = {};
        gtm_data['gtm.start'] = new Date().getTime();
        gtm_data['event'] = 'gtm.js';
        if (window.il_ga.ut === true) {
            gtm_data[window.il_ga.ukey] = window.il_ga.uid;
        }
        if (Object.keys(window.il_ga.tags).length > 0) {
            for (key in window.il_ga.tags) {
                gtm_data[key] = window.il_ga.tags[key];
            }
        }
        dataLayer.push(gtm_data);
        (function (w, d, s, l, i) {
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '{ga_token}');
        <!-- Google Tag Manager End -->
    }

    window['il_ga'] = {
        ut: {ut},
        uid: '{user_id}',
        ukey: '{user_key}',
        tags: {
            {GA_OPTIONAL_TAGS}
        },
        setTrack: function (choice, changed) {
            window.il_ga.ut = choice;
            if (choice === true) {
                ga_track();
            }

            if (changed === true) {
                window.localStorage.setItem('ga_' + window.il_ga.ukey, (choice === true) ? 'true' : 'false');
                d = new Date();
                window.localStorage.setItem('ga_' + window.il_ga.ukey + '_time', d.getTime());

                var ga_xhr = new XMLHttpRequest();
                ga_xhr.open('POST', '{ajax_link}');
                ga_xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                ga_xhr.onload = function () {
                    if (ga_xhr.status === 200) {
                        var ga_xdata = JSON.parse(ga_xhr.responseText);
                        if (ga_xdata.status === 'success') {
                            console.log('[ilGA] Flag successfully updated.');
                        } else {
                            console.log('[ilGA] Flag update failed.');
                        }
                    }
                };
                ga_xhr.send('ga_data=' + JSON.stringify({
                    user_id: window.il_ga.uid,
                    ga_choice: (choice === true ? 'true' : 'false')
                }));
            }
        }
    };
    if (window.il_ga.ut === true) {
        window.il_ga.setTrack(true, false);
    }

</script>
